# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\github\baby-c2\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/

/venv
/.idea
/.vs
/.vscode
/Implant/.vs
*.pdb
/Implant/Implant/x64
/Implant/x64
/Implant/.vs
/Implant/.vs/Implant/